.inline {
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.no-margin {
    margin-top: 10px;
    margin-bottom: 0px;
}

.username {
    line-height: 0;
    margin-bottom:15px;
}

.post {
    border-color: gray;
    border-style: solid;
    border-width:thin;
    padding: 10px;
    margin-bottom:0px;
}

.text-box {
    height: fit-content;
    width: 95%;
    max-width: viewport;
    min-height: 50px;
}

.comment{
    margin-top: 5px;
    
    border: 1px solid gray;
}

.right {
    float: right;
}

.follow {
    font-size: 20px;
    margin: auto;
    background-color: #458eff !important;
}

.delete {
    background-color: red !important;
    float: right;
}

.button {
    background-color:blue;
    color: white;
    border-radius: 4px;
    padding: 5px;
    display:block; /* puts button on next line */
}

.center {
    text-align: center;
}

.box {
    width: 250px;
    height: 150px;
    border: 1px solid gray;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 5px;
}

.right {
    float: right;
}

.page-padding {
    padding-left: 100px;
    padding-right:100px;
}

.profile-name {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    font-size: 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.nav-bar {
    margin-top: 0px;
    padding: 0px;
    border: 1px solid gray;
    align-items: center;
    width: 100%;
    height: 43px;
    color: #670;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 20px;
}

.nav-list {
    margin: 0;
    padding: 0;
}

.network-title {
    float: right;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    list-style-type: none;
}

.nav-item {
    list-style-type: none;
    float: left;
    border-right: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    text-align: center;
}

.nav-link:hover {
    background-color: #b3b3b3;
}
