.inline {
    margin-top: 0px;
    display: inline-block;
}

.username {
    line-height: 0;
    margin-bottom:15px;
}

.post {
    border-color: gray;
    border-style: solid;
    border-width:thin;
    padding: 10px;
    margin-bottom:0px;
}

.text-box {
    height: fit-content;
    width: 95%;
    max-width: viewport;
    min-height: 50px;
}

.comment{
    margin-top: 0px;
    border: 1px solid gray;
}

.right {
    float: right;
}

.center-button {
    font-size: 20px;
    margin: auto;
}

.button {
    background-color:blue;
    color: white;
    border-radius: 4px;
    padding: 5px;
    display:block; /* puts button on next line */
}

.center {
    text-align: center;
}

.box {
    width: 250px;
    height: 150px;
    border: 1px solid gray;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 5px;
}

.right {
    float: right;
}

#page-padding {
    padding-left: 100px;
    padding-right:100px;
}

.profile-name {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    font-size: 20px;
    /*input has OS specific font-family*/
    color: black;
    cursor: pointer;
    font-weight: bold;
}