.inline {
    margin-top: 0px;
    display: inline-block;
}

.username {
    line-height: 0;
    margin-bottom:15px;
}

.post {
    border-color: gray;
    border-style: solid;
    border-width:thin;
    padding: 10px;
    margin-bottom:0px;
}
.right {
    float: right;
}

.button {
    background-color:blue;
    color: white;
}