{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="post">
        <h2>Create New Post</h2>
        <h3 class="username">{{ session["username"] }}</h3>
        <form action="/" method="post">
            <textarea class="post text-box" placeholder="Post Content" name="content"></textarea>
            <br>
            <input class="button" type="submit" value="Post">
        </form>
    </div>
    <br>
    {% for post in posts %}
        {# Username Profile Link #}
        <form action="/profile" method="post">
            <input type="hidden" name="user_id" value="{{post['user_id']}}">
            <input class="profile-name" type="submit" value="{{ post["username"] }}">
        </form>
        {# Post Content #}
        <div class="post">{{ post["content"] }}</div>
        {# Likes #}
        <button id="like-button{{ post["id"] }}" onclick=likeFeature({{post['id']}}) class="like button">Like</button>
        <h4 id="like-count{{ post['id'] }}" class="inline">{{ post["likes"] }} likes</h4>
        {# Datetime #}
        <p class="inline right">{{ post["datetime"] }}</p>
        <br>
        {# Comments #}
        <div id="commentspost{{ post["id"] }}"></div>
        <button class="comment" name="post{{ post["id"] }}">Add Comment</button>
        <div class="comment-input">
        </div>
        <br>
        
    {% endfor %}
{% endblock %}