{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block body %}
    <div class="post">
        <h2>Create New Post</h2>
        <h3 class="username">{{ session["username"] }}</h3>
        <form action="/" method="post">
            <textarea class="post text-box" placeholder="Post Content" name="content"></textarea>
            <br>
            <input class="button" type="submit" value="Post">
        </form>
    </div>
    <br>
    {% for post in posts %}
        <form action="/profile" method="post">
            <input type="hidden" name="user_id" value="{{post['user_id']}}">
            <input class="profile-name" type="submit" value="{{ post["username"] }}">
        </form>
        <div class="post">{{ post["content"] }}</div>
        <form class="inline" {#action="/like" method="post"#}>
            {#<input type="hidden" name="postid" value="{{ post['id'] }}">#}
            <button name="post{{ post["id"] }}" class="like button" type="button">Like</button>
        </form>
        <h4 name="post{{ post["id"] }}" class="inline">{{ post["likes"] }} likes</h4>
        <p class="inline right">{{ post["datetime"] }}</p>
        <br>
        <div id="commentspost{{ post["id"] }}"></div>
        <button class="comment" name="post{{ post["id"] }}">Add Comment</button>
        <div class="comment-input">
        </div>
        <br>
        
    {% endfor %}
{% endblock %}