<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <title> {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav>
            <div>
                <div>
                    {% if session["user_id"] %}
                        <ul>
                            <li>Network</li>
                            <li><a href= "/profile">{{ session["username"] }}</a></li>
                            <li><a href="/">Home</a></li>
                            <li ><a href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>