{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="box right" style="margin-left:-300px">
        <p>Create a password with <b>at least</b> the following:</p>
        <ul>
            <li>7 chararacters</li>
            <li>1 number</li>
            <li>1 uppercase letter</li>
            <li>1 lowercase letter</li>
        </ul>
    </div>
    <div class="center">
        <h1>Register Page</h1>
        <form action="/register" method="post">
            <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
            <br>
            <br>
            <input id="password" name="password" placeholder="Password" type="password">
            <br>
            <input id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
            <br>
            <br>
            <button class="center-button button" type="submit">Register</button>
        </form>
    </div>
{% endblock %}
